/*!
 * Settings – Colors
 */

$s-colorBlack: #111213;
$s-colorBlue: #00f;
$s-colorGrey: #f1f1f1;

$s-colorBodyBackground: #fff;
$s-colorTextHeadline: $s-colorBlack;
$s-colorTextDefault: $s-colorBlack;
$s-colorInteractionCore: $s-colorBlue;
$s-colorDefaultBorder: $s-colorBlue;
