#app {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px;
  min-height: 100vmin;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin: 0;
  padding-top: 30px;
}
nav {
  background-color: #f0f0f0;
  height: 40px;
  line-height: 40px;
  margin: 20px 0;
  a {
    background-color: #fff;
    color: #333;
    padding: 5px 8px;
    border-radius: 2px;
    border: 1px solid transparent;
    &.active {
      border-color: #d26911 #e5e5e5 transparent;
    }
  }
}
