import './style.scss'

export default {
  name: '\{{ componentName }}',
  render (h) {
    return (
      <div class='\{{ componentName }}'>
        \{{ componentName }} Component
      </div>
    )
  }
}
